@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
   }

body {
	margin: 0;
	background: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.title{
  margin-top: 50px;
  text-align: center;
}

.bubble-padding {
  padding: 10px 15px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px #18228f;
    word-break: keep-all;
    font-size: 100px;
}

h2 {
    color: black;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: Roboto;
    font-weight: 100;
    color: #b9bded;
    font-size: 25px;
    padding: 30px;
}

.container {
	width: 80%;
  margin: 0 auto;
  position: fixed; /* Set the navbar to fixed position */
  padding-right: 30px;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #00003E;
}

header {
  background: #18228f;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 13px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#showcase {
    background-image: url('../img/jellyfish.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

#showcase h1 {
    color: white;
    line-height: 1.2;
    font-family: Roboto;
    font-size: 150px;
    text-shadow: 5px 5px #18228f;
    word-break: keep-all;
}

#showcase .button {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

#showcase p{
    background-color: #9ed8ff;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social {
  clear: both;
}

.footer {
  padding-left: 20px;
}

.social a{
  filter: grayscale(100%) invert(86%) sepia(11%) saturate(5393%) hue-rotate(178deg) brightness(106%) contrast(103%);
  padding: 10px;
}

.left {
    float: left;
    padding: 20px 30px;
}

.desc {
  /* margin-top: 20px; */
  /* margin-right: 50px; */
  color: white;
}

  #bigheader {
    /* background-image: url('../img/jellyfish1.png'); */
    background-color: #00003E;
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

#bigheader h1 {
    color: white;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    /* text-shadow: 5px 5px black; */
    word-break: keep-all;
}