@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
   }

body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

h1 {
    color: #41B3A3;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

h2 {
    color: black;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
	width: 80%;
    margin: 0 auto;
    
}

header {
  background: #41B3A3;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#showcase {
    background-image: url('./img/jellyfish.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;

    background-color: teal;
}

#showcase h1 {
    color: #7a278c;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    text-shadow: 5px 5px black;
}

#showcase .button {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase p{
    background-color: #E27D60;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
}

#showcase .button:hover {

}